body {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
  background-color: #f1f5f8;
  transition: background-color 0.5s ease-in-out;
}

h2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(59, 57, 57);
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

button {
  display: block;
  margin: auto;
  padding: 5px 10px;
  font-size: 18px;
  border: 2px solid rgb(59, 57, 57);
  border-radius: 7px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(59, 57, 57);
}

.color {
  font-size: 24px;
  font-weight: bold;
  color: #f1f5f8;
}
